@charset "utf-8";

:root {
    --back-color: #ffffff;
    --base-color: #e1eef6;
    --main-color: #004e6f;
    --accent-color: #ff5f2e;
}

/* GENERAL STYLING
/*****************************/
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: var(--back-color);
    color: var(--main-color);
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    list-style-position: outside;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 8rem 2rem 8rem;
}

/* HEADER
/*****************************/
header {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    padding: .5rem 8rem .5rem 8rem;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.header-nav {
    margin-left: 1.5rem;
    color: var(--main-color);
}

/* MAIN CONTENTS
/*****************************/
.main-section:nth-child(odd) {
    background-color: var(--base-color);
}

.section-title {
    color: var(--accent-color);
    font-size: 1.5rem;
}

#about-me {
    margin-top: 5rem;
}

/* FOOTER
/*****************************/
footer {
    background-color: var(--main-color);
    color: var(--back-color);
    text-align: center;
}
